@page
@model Warehouse.Pages.Items.IndexModel

@{
    ViewData["Title"] = "Список матриц";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-9">
            <h1 class="text-info">Список матриц</h1>
        </div>
        <div class="col-3"></div>
    </div>
    <div class="row pt-2 pb-1">
        <div class="col-6">
            <div class="input-group">
                <select onchange="" name="" class="custom-select" id="inputGroupSelect04">
                    <option value="All">Выберите категорию</option>
                </select>
                <div class="input-group-append pr-1">
                    <button id="ResetCategory" class="btn btn-outline-secondary" type="button">Сбросить</button>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
        <div class="col-3"><a asp-page="Create" class="btn btn-info form-control text-white">Добавить матрицу</a></div>
    </div>

    <hr>
    <table id="DT_Items" class="display text-center table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].ItemPhoto)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].ItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].ItemArticle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].ItemStorageID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].ItemDescription)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].ItemSizes)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Item[0].ItemCount)
                </th>

                <th><img src="~/icons/IconCell-black.png" height="20"></th>

                <th>
                    @Html.DisplayNameFor(model => model.Item[0].Category)
                </th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

<script src="~/js/ItemsList.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".myfancybox").fancybox({});
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".myframe").fancybox({
            iframe: {
                scrolling: 'yes',
            },
        });
    });
</script>
