@page "/Bitrix"
@model Warehouse.Areas.Identity.Pages.Account.Manage.BitrixModel

@{
    ViewData["Title"] = "Список пользователей Bitrix24";
}

<h3>Список пользователей Bitrix24</h3>

<table class="table table-sm table-bordered">
    <thead class="bg-secondary text-white">
        <tr class="text-center">
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.BitrixUser[0].UserID)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.BitrixUser[0].Name)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.BitrixUser[0].Surname)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.BitrixUser[0].isSigned)
            </th>
            <th class="align-middle"></th>
            <th class="align-middle"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.BitrixUser.Count == 0)
        {
            <tr>
                <td colspan="6" class="text-center pt-2 pb-2">
                    В таблице пока нет записей.
                </td>
            </tr>
        }
            @foreach (var item in Model.BitrixUser)
            {
                <tr>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.UserID)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.Surname)
                    </td>
                    <td class="align-middle">
                        @Html.DisplayFor(modelItem => item.isSigned)
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-sm btn-primary" asp-page="./Bitrix/Edit" asp-route-id="@item.UserID">Редактировать</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-sm btn-danger" asp-page="./Bitrix/Delete" asp-route-id="@item.UserID">Удалить</a>
                    </td>
                </tr>
            }
    </tbody>
</table>

<div class="font-italic text-muted">
    <p>Здесь отображается список пользователй запросившие подписку на уведомления в приложении Bitrix24.</p>
    <p>Подробную инструкцию Вы можете прочитать <a href="#">в документации</a></p>
</div>