@page "/Bitrix"
@model Warehouse.Areas.Identity.Pages.Account.Manage.BitrixModel

@{
    ViewData["Title"] = "Список пользователей Bitrix24";
    string name;
}

<h3>Список пользователей Bitrix24</h3>

<table class="table table-sm table-bordered">
    <thead class="bg-secondary text-white">
        <tr class="text-center">
            <th class="align-middle">
                Id
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.BitrixUser[0].Name)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.BitrixUser[0].isSigned)
            </th>
            <th class="align-middle"></th>
            <th class="align-middle"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.BitrixUser.Count == 0)
        {
            <tr>
                <td colspan="6" class="text-center pt-2 pb-2">
                    В таблице пока нет записей.
                </td>
            </tr>
        }
        @foreach (var item in Model.BitrixUser)
        {
            name = item.Name + " " + item.Surname;
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td class="align-middle">
                   @name
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.isSigned)
                </td>
                <td class="align-middle">
                    <a class="btn btn-sm btn-primary" asp-page="./Bitrix/Edit" asp-route-id="@item.Id">Редактировать</a>
                </td>
                <td class="align-middle">
                    <a class="btn btn-sm btn-danger" asp-page="./Bitrix/Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-sm btn-primary float-right text-white" href="api/Bitrix"><i class="bi bi-arrow-counterclockwise"></i> Обновить</a>

<div class="font-italic text-muted">
    <p>Здесь отображается список пользователй запросившие подписку на уведомления в приложении Bitrix24.</p>
    <p>Подробную инструкцию Вы можете прочитать <a href="#">в документации</a></p>
</div>