@page "/Telegram"
@model Warehouse.Areas.Identity.Pages.Account.Manage.TelegramModel

@{
    ViewData["Title"] = "Запросы из Telegram";
}

<h3>Telegram</h3>
<p>Уведомления для Telegram клиентов</p>

<table class="table table table-bordered">
    <thead class="bg-primary text-white">
        <tr class="text-center">
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.TelegramEntities[0].ChatID)
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.TelegramEntities[0].FirstName)
            </th>
            <th class="align-middle">
                Телефон
            </th>
            <th class="align-middle">
                @Html.DisplayNameFor(model => model.TelegramEntities[0].Notyfication)
            </th>
            <th class="align-middle"></th>
            <th class="align-middle"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.TelegramEntities.Count == 0)
        {
            <tr>
                <td colspan="6" class="text-center pt-2 pb-2">
                    В таблице пока нет записей.
                </td>
            </tr>
        }
        @foreach (var item in Model.TelegramEntities)
        {
            <tr>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.ChatID)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td align="center"class="align-middle" >
                    @Html.DisplayFor(modelItem => item.Notyfication)
                </td>
                <td class="align-middle">
                    <a class="btn btn-sm btn-primary" asp-page="./Telegram/Edit" asp-route-id="@item.ID">Редактировать</a>
                </td>
                <td class="align-middle">
                    <a class="btn btn-sm btn-danger" asp-page="./Telegram/Delete" asp-route-id="@item.ID">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="font-italic text-muted">
    <p>Здесь отображается список пользователй запросившие подписку на уведомления от Telegram бота.</p>
    <p>Подробную инструкцию Вы можете прочитать <a href="#">в документации</a></p>
</div>