@using Microsoft.AspNetCore.Identity
@model Warehouse.Model.ChangeRoleViewModel
@{
    ViewData["Title"] = "Изменение ролей для пользователя";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Правка пользователя @Model.UserEmail</h2>

<form class="pt-2" asp-action="Edit" method="post">
    <div class="form-group row col-6 font-weight-bold">
        <label class="control-label col-2 col-form-label " for="username">Имя: </label>
        <div class="col-sm-10">
            <input width="130" id="username" name="userName" value="@Model.UserName" class="form-control" />
        </div>
    </div>

    <input type="hidden" name="userId" value="@Model.UserId" />
    
    <label class="col font-weight-bold">Список ролей: </label>
    <div class="form-group col">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name"
                   @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") /> @role.Name <br />
            }
    </div>


    <button type="submit" class="btn btn-primary">Сохранить</button>
</form>